body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

nav {
    background-color: #ddd;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #070707;
    color: white;
    width: -webkit-fill-available;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #3b3b3b;
}

main {
    padding: 20px;
}

main h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

details {
    margin-bottom: 10px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.search-input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 80%;
    margin: 20px auto;
    margin-right: 20px;
    display: inline-block;
}

.search-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #070707;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 20px auto;
    margin-left: 20px;
}

.search-button:hover {
    background-color: #3b3b3b;
}

.view-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.view-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #070707;
  color: white;
  transition: background-color 0.3s ease;
}

.view-buttons button:hover {
  background-color: #3b3b3b;
}

.book {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
}

.book-title {
    font-size: 1.5em;
}

.book-image {
    width: 100px;
    height: auto;
    margin: 10px 0;
}

.book-description {
    margin-bottom: 10px;
    text-align: left;
}

.book-info {
    margin-bottom: 10px;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.list-view {
    display: flex;
    flex-direction: column;
}

.book-item {
    border: 1px solid #ddd;
    padding: 20px;
}

.book-details {
    display: none;
}

.book-details.visible {
    display: block;
}

.book-authors,
.book-categories,
.book-identifiers,
.book-published-date,
.book-publisher,
.book-page-count,
.book-average-rating,
.book-ratings-count,
.book-language,
.book-preview-link,
.book-info-link,
.book-canonical-volume-link,
.book-subtitle {
    text-align: left;
    font-size: 0.9em;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  z-index: 1;
}

.pagination button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  background-color: #070707;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.pagination button:hover {
  background-color: #3b3b3b;
}

#books {
  transition: all 0.3s ease;
}
